.character {
  padding: 0.2rem;
  min-width: 8rem;
}

.character-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.char-image {
  max-width: 7rem;
  border-radius: 0.3rem;
}
